* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lugarismo";
}

@font-face {
  font-family: "Lugarismo";
  src: url(./font/Lugrasimo/Lugrasimo-Regular.ttf);
}


body {
  margin: 0;
  background-color: #0177a9;
}

header {
  background-color: #006494;
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.HeaderBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.SearchBar {
  display: flex;
  align-items: center;
}

.logo-area {
  display: flex;
  align-items: center;
}

header img {
  width: 50px;
  height: auto;
  margin-right: 12px;
}

.SearchBar input {
  border-radius: 20px;
  height: 35px;
  width: 300px;
  padding-left: 12px;
}

main {
  margin-bottom: 15px;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moreButton {
  display: flex;
  align-content: center;
  justify-content: center;
}

.moreButton button {
  height: 50px;
  width: 150px;
  margin-top: 18px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(66, 95, 224, 0.452);
  border-radius: 28px;
  border-style: groove;
  border-bottom: white;
  background-color: #006494;
  font-size: 14px;
}

.moreButton button:hover {
  scale: calc(1.1);
  background-color: rgba(0, 100, 148, 0.2);
  cursor: pointer;
}

footer {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-inline: 160px;
  padding-top: 10px;
  background-color: #006494;
  height: 60px;
  margin-top: 268px;
}

.FooterLinks {
  max-width: 1440px;
  margin: 0 auto;
}
