* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lugarismo";
  scroll-behavior: smooth;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex: 1;
}

body:has(.example-dialog[open]) {
  /* Poof! No more scrolling! */
  overflow: hidden;
}

@font-face {
  font-family: "Lugarismo";
  src: url(./font/Lugrasimo/Lugrasimo-Regular.ttf);
}

h1 {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.801);
  text-shadow: 2px 2px 4px #000000;
}

body {
  margin: 0;
  background-color: #0177a9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #006494;
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.HeaderBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.SearchBar {
  display: flex;
  align-items: center;
}

.logo-area {
  display: flex;
  align-items: center;
}

header img {
  width: 65px;
  height: auto;
  margin-right: 12px;
}

.SearchBar input {
  border-radius: 20px;
  height: 35px;
  width: 300px;
  padding-left: 12px;
}

.resetBtn {
  height: 50px;
  width: 150px;
  margin-top: 18px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(66, 95, 224, 0.452);
  border-radius: 28px;
  border-style: groove;
  border-bottom: white;
  background-color: #006494;
  font-size: 14px;
  margin-bottom: 24px;
}

main {
  margin-bottom: 15px;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moreButton {
  display: flex;
  align-content: center;
  justify-content: center;
}

.moreButton button {
  height: 50px;
  width: 150px;
  margin-top: 18px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(66, 95, 224, 0.452);
  border-radius: 28px;
  border-style: groove;
  border-bottom: white;
  background-color: #006494;
  font-size: 14px;
  margin-bottom: 24px;
}
.hidden {
  display: none;
}

.moreButton button:hover {
  scale: calc(1.1);
  background-color: rgba(0, 100, 148, 0.2);
  cursor: pointer;
}

.NoPush {
  pointer-events: disabled;
}

.dialogPosition {
  margin: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0 40px;
  background-color: #006494;
  height: 60px;
  color: white;
  width: 100%;
}

.FooterLinks {
  display: flex;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

#loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-spinner.hidden {
  display: none;
}

@media (max-width: 750px) {
  .HeaderBar {
    flex-direction: column;
    margin-top: 40px;
  }
  footer {
    font-size: 18px;
    flex-direction: column;
  }
}

@media (max-width: 385px) {
  h1 {
    font-size: 35px;
  }

  header {
    height: 55px;
  }
  header img {
    width: 45px;
  }
  .SearchBar input {
    width: 265px;
  }
  footer {
    font-size: 14px;
    flex-direction: column;
  }
}
