* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lugarismo";
}

@font-face {
  font-family: "Lugarismo";
  src: url(./font/Lugrasimo/Lugrasimo-Regular.ttf);
}

h2 {
<<<<<<< HEAD
  margin-top: 4px;
  font-size: 20px;
  color: rgb(218 218 218 / 90%);
}
body {
  margin: 0;
  background-color: rgba(163, 163, 86, 0.719);
=======
    margin-top: 4px;
    font-size: 20px;
    color: rgb(218 218 218 / 90%);
}
body {
  margin: 0;
  /* background-color: rgba(143, 143, 80, 0.719); */  
  background-image: url(./img/icons/background.jpg);
  background-size: cover;
  background-position: center; 
  
>>>>>>> 4b7acadc585d6a52aad077726248fd7b2a8350ed
}

header {
  padding-left: -19px;
  gap: 650px;
  display: flex; 
  background-color: rgb(143, 143, 80);
  height: 75px;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  width: 50px;
  height: auto;
  margin-right: 12px;
}

.HeaderBar {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.SearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

.SearchBar input {
  border-radius: 20px;
  height: 35px;
  width: 300px;
  padding-left: 12px;
}

main {
  margin-bottom: 15px;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moreButton {
  display: flex;
  align-content: center;
  justify-content: center;
}

.moreButton button {
  height: 50px;
  width: 150px;
  margin-top: 18px;
  border-radius: 20px;
  background-color: rgb(143, 143, 80);
  font-size: 16px;
}

.moreButton button:hover {
  scale: calc(1.1);
  background-color: rgb(143, 143, 80, 0.8);
  cursor: pointer;
}

footer {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-inline: 160px;
  padding-top: 10px;
  background-color: rgb(143, 143, 80);
  height: 60px;
<<<<<<< HEAD
  margin-top: 268px;
=======
  margin-top: 40px;
>>>>>>> 4b7acadc585d6a52aad077726248fd7b2a8350ed
}

.FooterLinks {
  max-width: 1440px;
  margin: 0 auto;
}
