dialog {
  border-style: none;
  border-radius: 18px;
}

h3 {
  text-transform: capitalize;
}

.bigCardContainer {
  border-style: none;
}

.bigCardHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigCardHeader button {
  position: absolute;
  cursor: pointer;
}

.closeBtn {
  top: 10px;
  right: 15px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
}

.prevBtn {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
}

.nextBtn {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 30px;
  height: 30px;
}

.NameNumber {
  display: flex;
  padding: 18px;
  gap: 10px;
}
