dialog {
  min-height: 550px;
  min-width: 315px;
  border-style: none;
  border-radius: 18px;
}

h3 {
  text-transform: capitalize;
  font-size: 34px;
}

.PokeNumber {
  font-size: 38px;
}

.bigCardContainer {
  border-style: none;
}

.bigCardHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigCardHeader button {
  position: absolute;
  cursor: pointer;
}

.closeBtn {
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 45px;
  height: 45px;
  font-size: 24px;
  border: 2px solid transparent;
  cursor: pointer;
}

.prevBtn {
  top: 90%;
  left: 10px;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 45px;
  height: 45px;
  font-size: 24px;
  border: 2px solid transparent;
  cursor: pointer;
}

.nextBtn {
  top: 90%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 45px;
  height: 45px;
  font-size: 24px;
  border: 2px solid transparent;
  cursor: pointer;
}

.closeBtn:hover,
.prevBtn:hover,
.nextBtn:hover {
  border-color: black;
  transform: scale3d(1.8);
}

.NameNumber {
  display: flex;
  padding: 18px;
  gap: 10px;
}

.pokemonStats {
  padding: 20px;
  background: white;
  border-radius: 20px;
}

h4 {
  margin-bottom: 15px;
  color: #333;
  text-align: center;
  font-size: 26px;
}

.stat-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 10px;
}

.stat-label {
  width: 80px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
}

.stat-value {
  width: 30px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.stat-bar-bg {
  flex-grow: 1;
  background-color: #f0efef;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}

.stat-bar-fill {
  height: 100%;
  background-color: #4dad5b;
  transition: width 0.5s ease-in-out;
}

@media (max-width: 500px) {
  .bigPokemonImage {
    width: 300px;
    height: 300px;
  }

  h4 {
    margin-top: -20px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    font-size: 24px;
  }
}

@media (max-width: 390px) {
  h3 {
    font-size: 22px;
  }
  .PokeNumber {
    font-size: 24px;
  }
  h4 {
    font-size: 25px;
  }
}
