:root {
  --type-normal: #a8a77a;
  --type-fire: #ee8130;
  --type-water: #6390f0;
  --type-electric: #f7d02c;
  --type-grass: #7ac74c;
  --type-ice: #96d9d6;
  --type-fighting: #c22e28;
  --type-poison: #a33ea1;
  --type-ground: #e2bf65;
  --type-flying: #a98ff3;
  --type-psychic: #f95587;
  --type-bug: #a6b91a;
  --type-rock: #b6a136;
  --type-ghost: #735797;
  --type-dragon: #6f35fc;
  --type-dark: #705746;
  --type-steel: #b7b7ce;
  --type-fairy: #d685ad;
}

.normal {
  background: var(--type-normal);
}
.fire {
  background: var(--type-fire);
}
.water {
  background: var(--type-water);
}
.electric {
  background: var(--type-electric);
  color: #000;
}
.grass {
  background: var(--type-grass);
}
.ice {
  background: var(--type-ice);
  color: #000;
}
.fighting {
  background: var(--type-fighting);
}
.poison {
  background: var(--type-poison);
}
.ground {
  background: var(--type-ground);
  color: #000;
}
.flying {
  background: var(--type-flying);
}
.psychic {
  background: var(--type-psychic);
}
.bug {
  background: var(--type-bug);
}
.rock {
  background: var(--type-rock);
}
.ghost {
  background: var(--type-ghost);
}
.dragon {
  background: var(--type-dragon);
}
.dark {
  background: var(--type-dark);
}
.steel {
  background: var(--type-steel);
  color: #000;
}
.fairy {
  background: var(--type-fairy);
}




@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

