.OverlayContainer {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  justify-content: center;
  gap: 12px;
  margin: 50px;
}

.pokeCards {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;        
  position: relative;
  height: 205px;
  width: 241px;
  background-image: url(../img/icons/PokeCardBackground.png);
  background-size: cover;
  background-position: center;
  border-radius: 36px;
  margin-top: 15px;
}

.pokeCards:hover {
  scale: calc(1.1);
}

.pokeCards img:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.pokeCards img {
  width: 100px;
  height: auto;
}
.PositionNumber {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  padding-bottom: 12px;
  color: rgb(218 218 218 / 90%);
}
.PokeElement {
  display: flex;
}

.type {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;
  color: white;
  margin: 4px;
}

.type.normal {
  background: #a8a77a;
}
.type.fire {
  background: #ee8130;
}
.type.water {
  background: #6390f0;
}
.type.electric {
  background: #f7d02c;
  color: #000;
}
.type.grass {
  background: #7ac74c;
}
.type.ice {
  background: #96d9d6;
  color: #000;
}
.type.fighting {
  background: #c22e28;
}
.type.poison {
  background: #a33ea1;
}
.type.ground {
  background: #e2bf65;
  color: #000;
}
.type.flying {
  background: #a98ff3;
}
.type.psychic {
  background: #f95587;
}
.type.bug {
  background: #a6b91a;
}
.type.rock {
  background: #b6a136;
}
.type.ghost {
  background: #735797;
}
.type.dragon {
  background: #6f35fc;
}
.type.dark {
  background: #705746;
}
.type.steel {
  background: #b7b7ce;
  color: #000;
}
.type.fairy {
  background: #d685ad;
}
