h2 {
  margin-top: 4px;
  font-size: 20px;
  color: rgb(218 218 218 / 90%);
  text-transform: capitalize;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

h2:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.OverlayContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0px;

  flex-direction: row;
  flex-wrap: wrap;
}

.pokeCards {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 35px;
  position: relative;
  height: 235px;
  width: 170px;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.pokeCards:hover {
  scale: calc(1.05);
  cursor: pointer;
  border: 2px solid #ccc;
  box-shadow: 0 2px 5px rgba(209, 169, 169, 0.452);
}

.pokeCards img:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.pokeCards img {
  width: 130px;
  height: auto;
}

.PositionNumber {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  padding-bottom: 12px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.PokeElement {
  display: flex;
}

.type {
  padding: 4px 10px;
  border-radius: 12px;
  border-style: solid;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  border-color: rgba(109, 103, 97, 0.5);
  font-size: 12px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 4px;
}

.type:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
