.OverlayContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0px;

  flex-direction: row;
  flex-wrap: wrap;
}

.pokeCards {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 35px;
  position: relative;
  height: 235px;
  width: 170px;
  background-image: url(../img/icons/PokeCardBackground.png);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  
}

.pokeCards:hover {
  scale: calc(1.05);
  cursor: pointer;
}

.pokeCards img:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.pokeCards img {
    width: 130px;
    height: auto;
}

.PositionNumber {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  padding-bottom: 12px;
  color: rgb(218 218 218 / 90%);
}
.PokeElement {
  display: flex;
}

.type {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;
  color: white;
  margin: 4px;
}

